<table style="float: left;" class="table table-hover">
  <thead>
  <tr>
    <th>Name</th>
    <th>Year</th>
  </tr>
  </thead>

  <tbody>
  <% objects.each do |object| %>
      <tr>
        <td><%= link_to object.name, object %></td>
        <td><%= object.average_rating %></td>
        <td></td>
      </tr>
  <% end %>
  </tbody>
</table>